<form #checkForm="ngForm" role="form" style="min-height: 250px">
  <app-form-check-box [(ngModel)]="check1" [name]="'fCheck1'" [formLabel]="'Primary Check'"></app-form-check-box>
  <app-form-check-box [(ngModel)]="check2" [name]="'fCheck2'" [formLabel]="'Warn Check'" color="warn"></app-form-check-box>
  <app-form-check-box [(ngModel)]="check3" [name]="'fCheck3'" [formLabel]="'Check Left Accent'" color="accent"></app-form-check-box>
  <app-form-check-box [(ngModel)]="check4" [name]="'fCheck4'" [formLabel]="'Check Right'" color="warn"></app-form-check-box>
  <div class="col-12" style="border-top: solid 1px rgba(0, 0, 0, 0.12)">
    <app-form-save-cancel [disableSave]="checkForm.invalid || !checkForm.dirty || isSaving" [isSaving]="isSaving" (save)="saveForm()" (cancel)="clearForm()"></app-form-save-cancel>
  </div>
  <div class="form-group row" *ngIf="isSaved">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
      <ul>
        <li>Check 1: {{check1}}</li>
        <li>Check 2: {{check2}}</li>
        <li>Check 3: {{check3}}</li>
        <li>Check 4: {{check4}}</li>
      </ul>
    </div>
  </div>
</form>